@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">New Employee</a>
</p>
<hr />